.headers{

    color: rgba(255, 68, 0, 0.831);
}
.f-c{
    color: rgba(255, 68, 0, 0.831);
    font-size: 39px;
    font-weight: bold;
    font-style: italic;
}
.active-nav{
    color: rgba(255, 68, 0, 0.831) ;
    text-decoration: underline;
    text-decoration-thickness: 6px;
}
.home-img{
    box-sizing: inherit;
    width: 300px;
    height: 350px;
}
.social-media{
    margin-top: 90px;
    width: 100%;
    display: block;
    position: relative;
}

.social-media ul li {
    list-style: none;
    float: left;
    text-align: right;
    margin-left: 15px;
    animation: all 8000s infinite;
    padding: 7px 10px;
    background: rgba(255, 68, 0, 0.831);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.social-media ul li a {
    color:  wheat;
    font-weight: normal;

}


.bt-line-contact {
    margin-top: 80px;
    border: 1px solid rgba(255, 68, 0, 0.831);
    background: rgba(255, 68, 0, 0.831);
    margin-left: -150px;
}
.bt-line-contact:hover{
    border: none;
    background: rgba(255, 68, 0, 0.931);
}
footer {
    width: 100%;
    
    color: white;
    background: rgb(1, 28, 1);
}

.btn-1:hover{
    background: rgba(255, 68, 0, 0.831);
}
.dev-img{
    width: 210px;
    border-right: 11px groove rgba(255, 68, 0, 0.631);
    height: 210px;
    border-radius: 180px;
}
.carousel-inner{
   background: whitesmoke;
}
form{
    border: 5px groove rgba(255, 68, 0, 0.831);
    border-radius: 10px;
    padding: 30px 12px;
    background: white;
    margin-bottom: 40px;
}
.form-control{
    border: 2px solid rgba(255, 68, 0, 0.831);
}